@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

html,
body {
	background-color: #f8f9fc;
	color: #0a0e19;
	padding-top: 2rem;
	/* site colors */
	--primary-background: #f8f9fc;
	--text-color: #0a0e19;
    --muted-text-color: #a0a0a0;
	--primary: #4d73c5;
	--secondary: #adc6ff;
	--accent: #d365b3;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: #202021;
		color: #fff;
		/* site colors */
		--primary-background: #202021;
		--text-color: #fff;
        --muted-text-color: #a0a0a0;
		--primary: #8fb3ff;
		--secondary: #001952;
		--accent: #f199bf;
	}
}

.text-color {
	color: var(--text-color); /* For when an element wants to ignore the html,body color */
}

.text-muted-color {
    color: var(--muted-text-color);
}

.text-primary {
	color: var(--primary);
}
.text-secondary {
	color: var(--secondary);
}
.text-accent {
	color: var(--accent);
}

/* Link Highlight Stuff */
a.fadeLink {
	text-decoration: underline solid transparent;
	transition: text-decoration 0.3s ease;
}
a.fadeLink:hover {
	text-decoration: underline solid;
}
